a:hover {
    cursor: pointer;
}

.a-overlay {
    display: none;
    background: rgb(0 0 0 / 80%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}

a:hover .a-overlay  {
    display: flex;
    justify-content: center;
    align-items: center;
}